<!DOCTYPE html>
<html>
  <head>
    <title>Redfood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light navbar-custom sticky-top">
      <div class="container-fluid">
        <%= link_to(image_tag("logo.png", size: "200x50"), root_path, class: "navbar-brand" )%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <%= link_to "BERANDA", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "LAYANAN", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "BLOG", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "HUBUNGI KAMI", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "COOK IT YOURSELF", root_path, class: "nav-link" %>
            </li>
            <% if current_user.nil? %>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link' do %>MASUK<% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, class: 'nav-link', method: :delete do %>KELUAR<% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Image Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("slide1.jpg") %>
          <div class="carousel-caption">
            <button type="button" class="btn btn-outline-light btn-lg">LIHAT DEMO</button>
            <button type="button" class="btn btn-primary btn-lg">Ayo Mulai!</button>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("slide2.jpg") %>
        </div>
        <div class="carousel-item">
          <%= image_tag("slide3.jpg") %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
